

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-bottom: 100px;
}

.image-upload-box {
  position: relative;
  padding: 20px;
  width: 70%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-right: 160px;
  border: 1px solid var(--color-gold-cinema);
  border-radius: 8px;
  margin-bottom: 30px;
}

.recipe-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.drag-drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  margin-top: 10px;
  border-radius: 8px;
}

.upload-button {
  background: none;
  border: none;
  cursor: pointer;
}

.recipe-form {
  background-color: transparent;
  padding: 20px;
  width: 45%;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: normal;
  width: 70%;
}

.form-group input,
.form-group textarea {
  width: 70%;
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}

.publish-button {
  background-color: var(--color-gold-cinema);
  color: white;
  border: 0.5px solid var(--color-grey-cinema);
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin: 20px auto 0 auto;
  text-align: center;
}

.publish-button:hover {
  background-color: #ffc700;
}
.delete-recipe-floating {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.delete-btn {
  background: none;
  border: none;
  padding: 0;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-btn .icon {
  width: 24px;
  height: 24px;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.delete-btn:hover .icon {
  opacity: 1;
}
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column !important;
    align-items: stretch;
  }

  .image-upload-box {
    order: -1;
    width: 100% !important;
    margin-right: 0 !important;
    margin-bottom: 20px;
  }

  .recipe-form {
    width: 100% !important;
  }

  .form-group label,
  .form-group input,
  .form-group textarea {
    width: 100% !important;
  }
  .publish-button {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 20px auto 0 auto;
  }
}
