form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 500px;
  }

  section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
  }

  .contact-instruction{
    margin-bottom: 25px;
  }

  .name-title,
  .email-title,
  .message-title {
    color: #2e2e2e;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: var(--color-popcorn);
    border-width: 12px;
    padding: 0 30px 0px 30px;
    margin-left: 50px;
    margin-bottom: -13px;
    position: relative;
    z-index: 2;
    display: inline-block;
    width: auto;
  }

  .class-name,
  .class-email,
  .class-message
  {
    background-size: 20px 20px;
    background-color: var(--color-popcorn);
    color: #2e2e2e;
    padding-left: 50px;
    padding-right: 16px;
    height: 55px;
    width: 500px;
    border: 2px solid var(--color-grey-cinema);
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    position: relative;
    z-index: 1;
  }

  .class-message{
   
    height: 120px;
  

  }

  .send-button{
  display: flex;
  width: 500px;
  height: 50px;
  background-color: var(--color-gold-cinema);
  justify-content: center;
  align-items: center;
  color: var(--color-popcorn);
  border-radius: 5px;
}
.send-button:hover {
  background-color: #ffc700;
}
  

  

@media (max-width: 600px) {
form {
    width: 100%;
    gap: 30px;
    box-sizing: border-box;
    }

    .name-title,
    .email-title,
    .message-title{
      font-size: 16px;

    }

    

    .class-email,
    .class-message,
    .class-name{
      width: 100%;
      font-size: 15px;
      height: 50px;
    }

    .send-button{
      width: 100%;
      font-size: 15px;
      height: 50px;
    }

    .class-message{
      height: 100px;
    }
    
    .contact-instruction{
      padding: 0 10px;
      text-align: center;
    }
}