@font-face {
    font-family: "Cinzel";
    src: url("/fonts/Cinzel/static/Cinzel-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Cinzel";
    src: url("/fonts/Cinzel/static/Cinzel-Bold.ttf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/static/Inter_18pt-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/static/Inter_18pt-Bold.ttf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/static/Inter_18pt-Italic.ttf");
    font-weight: italic;
    font-style: normal;
    font-display: swap;
  }
  
  * {
    font-family: "Cinzel", serif;
  }
  
  :root {
    --color-popcorn: #f8ecd8;
    --color-red-cinema: #c7342d;
    --color-gold-cinema: #d4af37;
    --color-grey-cinema: #2e2e2e;
  }

  body {
    margin: 0;
    background-color: var(--color-popcorn);
    font-family: "Cinzel", serif;
    color: var(--color-grey-cinema);
  }