form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 500px;
}
main{
  align-items: center;
  justify-content: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--color-popcorn);
}
.error-login{
  color: var(--color-red-cinema);
  padding-bottom: 2em;
}
.input-group {
  position: relative;
  margin-bottom: 15px;
}

.mail-title {
  color: #2e2e2e;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: var(--color-popcorn);
  border-width: 12px;
  padding: 0 30px 0px 30px;
  margin-left: 50px;
  margin-bottom: -13px;
  position: relative;
  z-index: 2;
  display: inline-block;
  width: auto;
}

.password-title {
  color: #2e2e2e;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: var(--color-popcorn);
  border-width: 12px;
  padding: 0 30px 0px 30px;
  width: 100px;
  margin-left: 50px;
  margin-bottom: -13px;
  position: relative;
  z-index: 2;
  display: inline-block;
  width: auto;

}
.class-email {
  background-size: 20px 20px;
  background-color: var(--color-popcorn);
  color: #2e2e2e;
  padding-left: 50px;
  padding-right: 16px;
  height: 55px;
  width: 500px;
  border: 2px solid var(--color-grey-cinema);
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  position: relative;
  z-index: 1;
}

.class-password {
  background-size: 20px 20px;
  background-color: var(--color-popcorn);
  color: #2e2e2e;
  padding-left: 50px;
  padding-right: 16px;
  height: 55px;
  width: 500px;
  border: 2px solid var(--color-grey-cinema);
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  position: relative;
  z-index: 1;
}

.login-button {
  display: flex;
  width: 500px;
  height: 80px;
  background-color: var(--color-gold-cinema);
  justify-content: center;
  align-items: center;
  color: var(--color-popcorn);
  border-radius: 5px;
}

.login-button:hover {
  background-color: #ffc700;
}

@media (max-width: 600px) {
  form {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .mail-title,
  .password-title {
    font-size: 16px;
    margin-left: 0 !important;
    width: auto !important;
    display: inline-block;
    text-align: center;
    position: relative;
    left: 35%;
    transform: translateX(-50%);
    padding: 0 20px 0px 20px;
  }

  .class-email,
  .class-password,
  .login-button {
    width: 100% !important;
    font-size: 16px;
    height: 50px;
  }

  .input-group {
    margin-bottom: 25px;
  }
}