<%- include('./partials/header') %>

<div class="error-container">
  <div class="error-box">
    <h1>Oups ! Une erreur est survenue.</h1>
    <p>Veuillez réessayer plus tard ou revenir à la page d’accueil.</p>
  </div>
</div>

<%- include('./partials/footer') %>
