<div class="page-wrapper">
    <%- include('./partials/header') %>
    <main>
        <div class="legal-container">
            <h1>Mentions légales du site</h1>

            <section>
                <h2>ÉDITEUR</h2>
                <p><strong>Ciné Délices</strong></p>
                <p>
                    Projet fictif réalisé dans le cadre du Titre Professionnel
                    Développeur Web et Web Mobile<br />
                    École : O’clock – Promotion Athènes Responsables : Lorenzo,
                    Luc, Pierre, Virak<br />
                    Adresse fictive : 10 rue de la Pop Culture, 75000 Paris<br />
                    Contact :
                    <a href="mailto:contact.cinedelices@gmail.com"
                        >contact.cinedelices@gmail.com</a
                    >
                </p>
            </section>

            <section>
                <h2>HÉBERGEUR DU SITE</h2>
                <p>
                    Site : Railway
                    <a href="https://railway.com/">https://railway.com/</a>
                </p>
            </section>

            <section>
                <h2>DÉVELOPPER PAR :</h2>
                <p>
                    Lorenzo Pizzi : Lead Developer Front - UI/UX DESIGNER <br />
                    Virak Dok : Developer Front - Scrum Master <br />
                    Luc Moreno : Lead Developer Back - Product Owner <br />
                    Pierre Valadeau : Developer Back - Git Master
                </p>
            </section>

            <section>
                <h2>NATURE DU SITE</h2>
                <p>
                    Ce site est un projet pédagogique non commercial développé
                    dans le cadre d’un exercice de formation. Toutes les données
                    sont fictives ou simulées dans un but d’apprentissage
                    uniquement.
                </p>
            </section>

            <section>
                <h2>PROPRIÉTÉ INTELLECTUELLE</h2>
                <p>
                    Le contenu du site (code, textes, design, structure)
                    appartient à l’équipe projet. Les références à des œuvres
                    audiovisuelles sont purement culturelles. Toute reproduction
                    est interdite sans autorisation préalable, sauf usage
                    personnel ou éducatif.
                </p>
            </section>

            <section>
                <h2>LIENS HYPERTEXTES</h2>
                <p>
                    Le site peut inclure des liens vers des sites tiers (ex :
                    OMDb API, banques d'images libres). L'Éditeur ne peut être
                    tenu responsable de leur contenu ou de leur fonctionnement.
                </p>
            </section>

            <section>
                <h2>RESPONSABILITÉ</h2>
                <p>
                    L’Éditeur décline toute responsabilité concernant les
                    erreurs ou perturbations liées à l’utilisation du site, les
                    contenus générés par les utilisateurs ou les recettes
                    publiées.
                </p>
            </section>

            <section>
                <h2>DONNÉES PERSONNELLES</h2>
                <p>
                    Aucune donnée personnelle réelle n’est collectée ni
                    utilisée. Toute information saisie est simulée dans un cadre
                    de test. Les utilisateurs peuvent demander la suppression de
                    leurs données via l’adresse e-mail mentionnée ci-dessus.
                </p>
            </section>

            <section>
                <h2>COOKIES</h2>
                <p>
                    Le site peut utiliser uniquement des cookies techniques
                    nécessaires au bon fonctionnement des sessions utilisateur.
                </p>
            </section>

            <section>
                <h2>MODIFICATIONS</h2>
                <p>
                    L’Éditeur se réserve le droit de modifier les présentes
                    mentions légales à tout moment, sans préavis.
                </p>
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %>
</div>
