<%- include('./partials/header') %>

<section>
    <div class="login-container">
      <form>

        <!-- NOM -->
        <div class="input-group">
            <div class="username-title">Username</div>
              <input type="username" name="username" class="class-username" required>
            </div>
            <!-- Champ Email -->
            <div class="input-group">
            <div class="mail-title">Mail</div>
            <input type="email" name="email" class="class-email" required>
            </div>
            <!-- Champ Mot de passe -->
            <div class="input-group">
            <div class="password-title">Password</div>
            <input type="password" name="password" class="class-password" required>
            </div>
            <!-- Champ confirmation Mot de passe -->
            <div class="input-group">
            <div class="confirm-password-title">Confirm Password</div>
            <input type="confirm-password" name="confirm-password" class="class-confirm-password" required>
            </div>
            <!-- Boutton valider -->
            <button class="login-button"> Log in </button>
      </form>
    </div>
  </section>
  
<%- include('./partials/footer') %>