<%- include('./partials/header') %>

<section>
    <div class="login-container">
      <form>

        <!-- NOM -->
        <div class="input-group">
            <div class="name-title">Nom</div>
              <input type="name" name="name" class="class-name" required>
            </div>
            <!-- Prénom -->
            <div class="input-group">
            <div class="firstname-title">Prénom</div>
              <input type="firstname" name="firstname" class="class-firstname" required>
            </div>
            <!-- Champ Email -->
            <div class="input-group">
            <div class="mail-title">Mail</div>
            <input type="email" name="email" class="class-email" required>
            </div>
            <!-- Champ Mot de passe -->
            <div class="input-group">
            <div class="password-title">Password</div>
            <input type="password" name="password" class="class-password" required>
            </div>
            <!-- Boutton valider -->
            <button class="login-button"> Log in </button>
      </form>
    </div>
  </section>
  
<%- include('./partials/footer') %>