<footer class="site-footer">
  <div class="footer-icons">
    <a href="https://www.youtube.com"
      ><img src="/images/Icons/YouTube.svg" alt="youtube"
    /></a>
    <a href="https://www.instagram.com"
      ><img src="/images/Icons/Instagram.svg" alt="Instagram"
    /></a>
    <a href="https://twitter.com"
      ><img src="/images/Icons/XLogo.svg" alt="X"
    /></a>
  </div>

  <div class="footer-links">
    <a href="/legal">Mentions légales</a>
    <span>|</span>
    <a href="/contact">Contact</a>
  </div>
</footer>
