<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" />

  <title>Ciné Délices</title>

  <link rel="stylesheet" href="/css/header.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  <link rel="stylesheet" href="/css/home.css" />
  <link rel="stylesheet" href="/css/addrecipe.css" />
  <link rel="stylesheet" href="/css/adminpage.css" />
  <link rel="stylesheet" href="/css/login.css" />
  <link rel="stylesheet" href="/css/contact.css">
  <link rel="stylesheet" href="/css/profile.css" />
  <link rel="stylesheet" href="/css/legal.css" />
  <link rel="stylesheet" href="/css/register.css" />
  <link rel="stylesheet" href="/css/errorpage.css" />
  <link rel="stylesheet" href="/css/recipedetail.css" />
</head>

<header class="site-header">
  <div class="logo-block">
    <img
      src="/images/Logo_mini.svg"
      alt="Logo Ciné Délices"
      class="logo-img logo-desktop"
    />
    <img
      src="/images/Logo_Full.svg"
      alt="Logo Ciné Délices"
      class="logo-img logo-mobile"
    />
    <h1 class="logo-title">CINÉ DÉLICES</h1>
  </div>

  <form action="/search" method="GET" class="search-form">
    <input
      type="text"
      name="q"
      class="search-input"
      placeholder="Je cherche une recette, un film…"
    />
    <button type="submit" class="search-btn">
      <img src="/images/Search.svg" alt="Rechercher" />
    </button>
  </form>

    <div class="profile-circle">
      <img src="/images/Profile_icon.svg" alt="Profil" id="profile-img" />
    </div>
    
    
    <div class="overlay" id="modal-overlay">
      <div class="modal-box">


      <!-- Si user non connecté -->
      <div id="guest-buttons">
        <button class="sign-in-button-modal" onclick="location.href='/login'"> Sign in </button>
        <button class="register-button-modal" onclick="location.href='/register'"> Register </button>
      </div>
      <!-- Si user connecté -->
      <div id="user-buttons">
        <button class="profile-button-modal" onclick="location.href='/profile'">Profile</button>
        <button class="logout-button-modal" onclick="location.href='/logout'">Log out</button>
      </div>
      </div>
    </div>
    
    
  <script>

    // On vérifie si le cookie token est présent
        function isLoggedIn() {
        return document.cookie.includes("token=");
      }

      document.addEventListener('DOMContentLoaded', () => {
      const isAuthenticated = isLoggedIn();

      const guestButtons = document.getElementById('guest-buttons');
      const userButtons = document.getElementById('user-buttons');

      // On affiche les bons boutons selon la connexion
      if (isAuthenticated) {
        guestButtons.style.display = 'none';
        userButtons.style.display = 'block';
      } else {
        guestButtons.style.display = 'block';
        userButtons.style.display = 'none';
      }

      const profileImg = document.getElementById('profile-img');
      const modal = document.getElementById('modal-overlay');

      profileImg.addEventListener('click', () => {
        modal.classList.toggle('active');
      });

      window.addEventListener('click', (e) => {
        if (e.target === modal) {
          modal.classList.remove('active');
        }
      });
    });

  </script> 

</header>
